body{
    font-family: 'Fjalla One', sans-serif;
}

h1{
    text-align: center;
}

.choice{
    /* centering the rock, paper, scissors choices */
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}

#result{
    /* centering the results */
    display: flex;
    justify-content: center;
}
